{
    email stese2026@gmail.com
    auto_https disable_redirects
}

app.samida.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    handle /api/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        reverse_proxy 127.0.0.1:3100 {
            header_up Host localhost:3100
        }
    }
}
